/* Global button styles */

:root {
    --matrix-color-1-bg: #ffeaea;
    --matrix-color-1-text: #cb0000;
    --matrix-color-2-bg: #ffe4da;
    --matrix-color-2-text: #ff4500;
    --matrix-color-3-bg: #fff0d4;
    --matrix-color-3-text: #ffa500;
    --matrix-color-4-bg: #f2f5dd;
    --matrix-color-4-text: #8da304;
    --matrix-color-5-bg: #ddf7dd;
    --matrix-color-5-text: #008000;
    --matrix-mandatory-master-bg: #ddf7dd;
    --matrix-mandatory-master-text: #5eaf5e;
    --matrix-mandatory-warning-bg: #fff0d4;
    --matrix-mandatory-warning-text: #ffa500;
    --matrix-mandatory-expired-bg: #ffeaea;
    --matrix-mandatory-expired-text: #cb0000;
    --matrix-warning-icon-bg: #ffeaea;
    --matrix-warning-icon-text: #cb0000;
}

.text-sm .btn {
    font-size: .875rem;
}

.circlebtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    /*    color: #fff;*/
    border: 1px solid rgb(210,210,210);
    font-size: 22px !important;
    outline: 0 !important;
}

    .circlebtn:hover {
        cursor: pointer;
        transform: scale(1.15);
        /*        color: #fff;*/
    }

    .circlebtn i {
        font-size: 22px;
    }

.circlebtnNoHover {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    /*    color: #fff;*/
    background-color: #FAFAFA;
    border: 1px solid #A6A6A6;background-color: #FAFAFA
    font-size: 22px !important;
    outline: 0 !important;
}

    .circlebtnNoHover i {
        font-size: 22px;
    }


.circlebtnOtherBorder {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    /*    color: #fff;*/
    background-color: #FAFAFA;
    border: 1px solid #A6A6A6;
    font-size: 22px !important;
    outline: 0 !important;
}

    .circlebtnOtherBorder:hover {
        cursor: pointer;
        transform: scale(1.15);
        /*        color: #fff;*/
    }

    .circlebtnOtherBorder i {
        font-size: 22px;
    }

/* End global button styles */



/* Button flavours */

.btn-white {
    background-color: white;
    font-size: 52px;
    font-weight: 400;
    color: #D9D9D9;
}

.btn-green {
    background-color: var(--matrix-color-5-bg, #ddf7dd);
    font-size: 22px;
    font-weight: 400;
    border-color: var(--matrix-color-5-text, #008000);
    color: var(--matrix-color-5-text, #008000);
}

.btn-red {
    background-color: var(--matrix-color-1-bg, #ffeaea);
    font-size: 22px !important;
    font-weight: 400;
    border-color: var(--matrix-color-1-text, #cb0000);
    color: var(--matrix-color-1-text, #cb0000);
}

.btn-clear {
    background-color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    border-color: rgb(210,210,210);
    color: #ff4500;
}

.btn-orangered {
    background-color: var(--matrix-color-2-bg, #ffe4da);
    font-size: 22px;
    font-weight: 400;
    border-color: var(--matrix-color-2-text, #ff4500);
    color: var(--matrix-color-2-text, #ff4500);
}

.btn-orange {
    background-color: var(--matrix-color-3-bg, #fff0d4);
    font-size: 22px;
    font-weight: 400;
    border-color: var(--matrix-color-3-text, #ffa500);
    color: var(--matrix-color-3-text, #ffa500);
}

.btn-orangegreen {
    background-color: var(--matrix-color-4-bg, #f2f5dd);
    font-size: 22px;
    font-weight: 400;
    border-color: var(--matrix-color-4-text, #8da304);
    color: var(--matrix-color-4-text, #8da304);
}

.btn-border-green {
    border: solid 1px #abd28e;
    border-radius: 50%;
    background-color: #fff;
    font-size: 22px;
    font-weight: 400;
}

/* Button flavours */



/* Operational behaviour icons */

.king {
    background: url("/images/icons/v2/king.png") center / 26px no-repeat, var(--matrix-color-5-bg, #ddf7dd);
    border-color: #5eaf5e;
}

.champion {
    background: url("/images/icons/v2/champion.png") center / 26px no-repeat, var(--matrix-color-4-bg, #f2f5dd);
    border-color: #8da304;
}

.spoton {
    background: url("/images/icons/v2/spoton.png") center / 26px no-repeat, var(--matrix-color-3-bg, #fff0d4);
    border-color: #ffa500;
}

.risingstar {
    background: url("/images/icons/v2/risingstar.png") center / 26px no-repeat, var(--matrix-color-2-bg, #ffe4da);
    border-color: #ff4500;
}

.powerup {
    background: url("/images/icons/v2/powerup.png") center / 26px no-repeat, var(--matrix-color-1-bg, #ffeaea);
    border-color: #cb0000;
}

.thumbsup {
    background: url("/images/icons/v2/thumbsup.png") center / 26px no-repeat, var(--matrix-mandatory-master-bg, #ddf7dd);
    border-color: var(--matrix-mandatory-master-text, #5eaf5e);
}

.thumbsdown {
    background: url("/images/icons/v2/thumbsdown.png") center / 26px no-repeat, var(--matrix-mandatory-expired-bg, #ffeaea);
    border-color: var(--matrix-mandatory-expired-text, #cb0000);
}

.warning {
    background: url("/images/icons/v2/warning.png") center / 26px no-repeat, var(--matrix-mandatory-warning-bg, #fff0d4);
    border-color: var(--matrix-mandatory-warning-text, #ffa500);
}

.warning-icon {
    background-image: url("/images/icons/v2/warning.png");
    background-size: 26px 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--matrix-warning-icon-bg, #ffeaea);
    color: var(--matrix-warning-icon-text, #cb0000);
}

/* End operational behaviour icons */


/* prevent buttons to have an click event on the content of a button, but always have the button event. */
button > * {
    pointer-events: none;
}
