@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <img class="card-img-top" src="/images/placeholder.png" alt="Card image">
    <div class="card-header">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet risus mauris. Suspendisse sagittis vel arcu sed convallis.
    </div>
</div>