# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

parameters:
  - name: buildConfig
    displayName: Build Configuration
    type: string
    default: ReleaseTest
    values:
      - ReleaseTest
      - ReleaseAcceptance
      - ReleaseProduction

variables:
- name: BuildConfiguration
  value: ${{ parameters.buildConfig }}
- name: DotNetVersion
  value: 8.0.100
- name: NUGET_PACKAGES
  value: $(Pipeline.Workspace)/.nuget/packages
- name: solution
  value: "EZGO.Maui.sln"
- name: FRAMEWORK_ANDROID
  value: "net8.0-android"
- name: FRAMEWORK_iOS
  value: "net8.0-ios"  
- name: BuildCounter
  value: $[counter('buildCounter',1)]
- group: "AndroidKeystore"


stages:
  - stage: BuildiOS
    jobs:
      - job: BuildMAUIApps
        displayName: Build Maui App
        pool:
          vmImage: "macOS-14"
          demands:
            - MSBuild

        steps:
          # https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/mobile/app-signing?view=azure-devops&tabs=apple-install-during-build#sign-your-apple-ios-macos-tvos-or-watchos-app
          # Setup Secret Pipeline Variable or Library Secrets Variable for iOS Certificate Password
          - task: InstallAppleCertificate@2
            inputs:
              certSecureFile: "Certificates.p12"
              certPwd: "$(P12password)"
              keychain: "temp"

          - task: InstallAppleProvisioningProfile@1
            inputs:
              provisioningProfileLocation: "secureFiles"
              provProfileSecureFile: "EzGo_AdHoc_Distribution.mobileprovision"          

          - task: DownloadSecureFile@1
            displayName: Download Android keystore file 
            name: keystore
            inputs:
              secureFile: '$(KeyStore-FileName)'

          - task: CmdLine@2
            displayName: Move Android Keystore to Working Directory
            inputs: 
              script: |
                mv $(keystore.secureFilePath) $(System.DefaultWorkingDirectory)

          - task: UseDotNet@2
            displayName: .NET Version
            inputs:
              packageType: "sdk"
              version: "$(DotNetVersion)"

          - task: Bash@3
            displayName: Install MAUI
            inputs:
              targetType: "inline"
              script: |
                dotnet nuget locals all --clear
                dotnet workload install maui --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json --source https://api.nuget.org/v3/index.json
                dotnet workload install android ios maccatalyst tvos macos maui wasm-tools --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json --source https://api.nuget.org/v3/index.json

          # - task: Bash@3
          #   displayName: Restore nuget
          #   inputs:
          #     targetType: "inline"
          #     script: |
          #       dotnet restore EZGO.Maui.sln

          - task: Cache@2
            displayName: "NuGet Cache"
            inputs:
              key: 'nuget | "$(Agent.OS)" | **/packages.lock.json,!**/bin/**,!**/obj/**'
              restoreKeys: |
                nuget | "$(Agent.OS)"
                nuget
              path: "$(NUGET_PACKAGES)"
              cacheHitVar: "CACHE_RESTORED"

          - task: Bash@3
            displayName: "NuGet restore"
            condition: ne(variables.CACHE_RESTORED, true)
            inputs:
              targetType: "inline"
              script: |
                dotnet restore $(solution)

          - task: PowerShell@2
            displayName: Get app version from .csproj
            inputs:
              targetType: inline
              script: |
                $xml = [Xml] (Get-Content ./EZGO.Maui/EZGO.Maui.csproj)
                $version = $xml.Project.PropertyGroup.ApplicationDisplayVersion
                echo $version
                echo "##vso[task.setvariable variable=AppVersion]$version"
          
          - task: PowerShell@2
            displayName: Set build version in .csproj
            inputs:
              targetType: inline
              script: |
                (Get-Content ./EZGO.Maui/EZGO.Maui.csproj) -Replace '\d+</ApplicationVersion>', '$(BuildCounter)</ApplicationVersion>' | Out-File ./EZGO.Maui/EZGO.Maui.csproj


          - task: Bash@3
            displayName: Build Android App
            inputs:
              targetType: "inline"
              script: |
                dotnet publish -f $(FRAMEWORK_ANDROID) -c '$(BuildConfiguration)' /p:AndroidSigningKeyPass="$(KeyStore-Password)" /p:AndroidSigningStorePass="$(KeyStore-Password)" /p:AndroidSigningKeyStore="$(System.DefaultWorkingDirectory)/$(KeyStore-FileName)" /p:AndroidSigningKeyAlias="$(KeyStore-Alias)" /p:AndroidKeyStore=true
         
          - task: Bash@3
            displayName: Select XCode Version
            inputs:
              targetType: "inline"
              script: |
                sudo xcode-select -s /Applications/Xcode_16.2.app

          - task: Bash@3
            displayName: Build iOS App
            inputs:
              targetType: "inline"
              script: |
                dotnet publish -f $(FRAMEWORK_iOS) -c '$(BuildConfiguration)' -p:CodesignKey="$(APPLE_CERTIFICATE_SIGNING_IDENTITY)" -p:CodesignProvision="$(APPLE_PROV_PROFILE_NAME)"

          - task: CopyFiles@2
            inputs:
              Contents: |
                **/*.app
                **/*.ipa
                **/*Signed.apk
                **/*Signed.aab
              TargetFolder: "$(Build.ArtifactStagingDirectory)"
              flattenFolders: true

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"

        #  - task: UniversalPackages@0
         #   displayName: Publish a Universal Package
         #   inputs:
          #    command: publish
          #    publishDirectory: "$(Build.ArtifactStagingDirectory)"
          #    vstsFeedPublish: "EZ-GO Xamarin/app_maui"
          #    vstsFeedPackagePublish: "ezgo-maui-ios"
          #    packagePublishDescription: "Ezgo for iOS"
