@model WebApp.ViewModels.BaseViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="jumbotron jumbotron-fluid rounded pt-5" style="margin:auto;margin-top:20px;">
    <div class="container" style="margin:20px;">
        <h2 class="display-5">@(Model?.CmsLanguage.GetValue(LanguageKeys.FrameWork.NoDataAvailable, "No data available.") ?? "No data available.")</h2>
        <p class="lead">@(Model?.CmsLanguage.GetValue(LanguageKeys.FrameWork.ThereIsNoDataAvailable, "There is no data available.") ?? "There is no data available.")</p>
    </div>
</div>