/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.text-ezgo {
    color: #93C54B;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}



.panel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40em;
    transform: translateX(100%);
    transition: .3s ease-out;
    z-index: 1040;
}

.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #eee;
    overflow: auto;
    padding: 1em;
}

#accordion-1 div.card-header {
    height: 45px;
    background-color: #fff;
    padding-left: 0px;
}

#accordion-1 div.card-header h5 {
    line-height: 25px;
    font-size: 15px;
}

#accordion-1 div.card-header h5 a {
    color: #495057;
}

#accordion-1 div.card{
    border:none;
}

.card-header.filter {
    height: 35px;
    padding-top: 7px;
    background-color: #fff;
}
#filterset .card-header.filter {
    height: 35px;
    padding-top: 7px;
    background-color: unset !important;
}

/* filter buttons */
.btn.btn-toggle.btn-light.active {
    background-color: #93C54B !important;
    color: #fff !important;
        
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 2000;
    background-color:beige;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

#mainSidebar .nav-link {
    color: #1ed760;
}

.card-filter {
    max-height: calc(100vh - 162px);
    overflow: auto;
}