.imageWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

    .imageWrapper img {
        width: 100%;
        height: auto;
    }

img {
    display: block;
}
