@model WebApp.ViewModels.BaseViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model?.PageTitle</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>